.original {
    font-size: 1 rem;
    color: red;
}
.forEngineerA {
    width: 100px;
}

p {
    color: royalblue;
}

div {
    border-top: royalblue;
}

}

div{
    color:blue ;
}

button{
    background-color: cornflowerblue ;
    color: darkblue ;
    font-size: 1.2em ;
}

